startingPort=6112
dbName=clubpenguinplus
dbUser=
dbPassword=
dbHost=db-mysql-lon1-45501-do-user-12138416-0.b.db.ondigitalocean.com
dbPort=25060
dbDialect=mysql
dbDebug=false
maxUsers=300
cryptoRounds=10
cryptoSecret=
loginKeyExpiry=300
chatLogChannel=1008902583324250212
loginLogChannel=1008902611975540877
modLogChannel=1008902670347681873
reportPlayerChannel=1008902698118172712
errorChannel=1008902714341740584
iglooIdOffset=2000
socketHTTPS=false
corsOrigin=https://play.cpplus.pw
apiKey=
apiBaseURL=http://46.101.10.243:37373
logtailToken=
SENDGRID_API_KEY=
jiraUsername=help@clubpenguin.plus
jiraAPIToken=
